a{color:green;
    font-family:georgia;
    font-weight:bold;
    font-size:clamp(1.4rem, 2.3vw,3.5rem);/*2rem !important;/*22px !important;*/
    position:relative;
    }
    
    a:hover{color:red;}
    table{
    border-spacing:10;
    width:100%;
    align:center;
    
    }

    td{
    align:center;
    
    }
    tr{
    align:center;  
    }
    img{
    margin:auto;
    }
    
    h1{
     /*font-size:40px;  */
    font-size:clamp(2.8rem, 4.6vw,7rem);/*4.5rem;*/
     text-align:center;
     font-style:italic;
     color:black; 
    padding:0rem clamp(2rem, 8vw, 7.5rem);
    }

    h2{
     /*font-size:40px;  */
    font-size:clamp(calc(2.8*0.7)rem, calc(4.6*0.7)vw,calc(7*0.7)rem);/*4.5rem;*/
     text-align:center;
     font-style:italic;
     color:black; 
    padding:0rem clamp(2rem, 8vw, 7.5rem);
    }
    
    p{
    text-align:left;
    color:black;
    /*font-size:12px;*/
    font-size:clamp(1.4rem, 2.3vw,3.5rem);/*2rem;/*1.25rem;/*30px;*/
    padding:0rem clamp(2rem, 8vw, 7.5rem);
    }
    
    button{
padding:10px 24px;
font-size:10px; 
    }
    body{
    background-color:white;
    font-size: 16px;
    }

