a{color:green;
    font-family:georgia;
    font-weight:bold;
    font-size:clamp(1.4rem, 2.3vw,3.5rem);/*2rem !important;/*22px !important;*/
    position:relative;
           text-align:center;

    }
    
    a:hover{color:red;}
    table{
    /*border-spacing:10;*/
            /* text-align:center;*/
border-spacing:10px;/*10;*/
    width:100%;
    /*align:center;*/
             text-align:center;

    
    }

    td{
    /*align:center;*/
         text-align:center;

    }
    tr{
    /*align:center;  */
             text-align:center;

    }
    img{
    display:block;
    margin:auto;
    }
    
    h1{
     /*font-size:40px;  */
    font-size:clamp(2.8rem, 4.6vw,7rem);/*4.5rem;*/
     text-align:center;
     font-style:italic;
     color:black; 
    /*padding:0rem clamp(2rem, 8vw, 7.5rem);*/
    padding-left:clamp(2rem, 8vw, 7.5rem);
    padding-right:clamp(2rem, 8vw, 7.5rem);
    font-family:georgia;

    }

    h2{
     /*font-size:40px;  */
    font-size:clamp(calc(2.8rem*1), calc(4.6vw*1),calc(7rem*1));/*4.5rem;*/
     text-align:center;
     /*font-style:italic;*/
        font-style:normal;
     color:black; 
    /*padding:0rem clamp(2rem, 8vw, 7.5rem);*/
    padding-left:clamp(2rem, 8vw, 7.5rem);
        padding-right:clamp(2rem, 8vw, 7.5rem);
    font-family:georgia;

    }

    h3{
     /*font-size:40px;  */
    font-size:clamp(calc(2.8rem*0.7), calc(4.6vw*0.7),calc(7rem*0.7));/*4.5rem;*/
     text-align:center;
     font-style:italic;
     color:black; 
    /*padding:0rem clamp(2rem, 8vw, 7.5rem);*/
    padding-left:clamp(2rem, 8vw, 7.5rem);
        padding-right:clamp(2rem, 8vw, 7.5rem);
    font-family:georgia;

    }
    
    p{
    text-align:left;
    color:black;
    /*font-size:12px;*/
    font-size:clamp(1.4rem, 2.3vw,3.5rem);/*2rem;/*1.25rem;/*30px;*/
    /*padding:0rem clamp(2rem, 8vw, 7.5rem);*/
    padding-left: clamp(2rem, 8vw, 7.5rem);
        padding-right: clamp(2rem, 8vw, 7.5rem);
    font-family:georgia;

    }
    
    button{
padding:10px 24px;
font-size:10px; 
    font-family:georgia;

    }
    body{
    background-color:white;
    font-size: 16px;
        font-family:georgia;

    }

